* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  font-family: "Nexa Heavy";
}

/* CONTENT -------------------------------------------------------------- */

.black {
  color: black;
  font-size: 35px;
}

.white {
  color: white;
}

.nexa-regular {
  font-family: "Nexa Regular";
  font-size: 20px;
}

#aboutUsTitle {
  background-color: white;
  max-width: 40%;
  padding: 15px 40px 15px 0;
  text-align: right;
  margin-top: 5vh;
}

#aboutUsContent {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 5rem 2rem 2rem 2rem;
  padding: 2rem;
  gap: 3rem;
  background-color: #191919;
  border-radius: 10px;
}

#aboutUsContent-img {
  display: flex;
}

#img-cassete {
  margin: -5rem 0 0;
}

#aboutUsContent-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.font38 {
  font-size: 38px;
}

#journeyProgression {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  background-color: #292929;
  padding: 5vw;
  margin: 2rem;
  text-align: justify;
  border-radius: 10px;
}

#journeyProgressionTitle {
  text-align: center;
}

#teamMembersTitle {
  background-color: white;
  padding: 15px 0 15px 40px;
  width: 40%;
  margin-top: 5vh;
}

#teamMembersTitleContainer {
  display: flex;
  width: 100%;
  justify-content: right;
}

#name {
  font-size: 25px;
}

#pictureContainer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 8rem;
  text-align: center;
  justify-content: center;
  margin: 5rem 0;

  img {
    width: 250px;
  }
}

/* --END CONTENT------------------------------------------- */
/* RESPONSIVE */
@media screen and (max-width: 800px) {
  
  #aboutUsContent{
    flex-direction: column;
  }
  #img-cassete{
    width: 100%;
  }
  #journeyProgression{
    align-items: center;
    justify-content: right;
  }
  #teamMembersTitle {
    width: 50%;
  }
}