* {
  margin: 0;
  padding: 0;
}

body{
    background-color: #1f1f1f;
    font-family: "Nexa Heavy";
}

@font-face {
  font-family: 'Nexa Regular';
  src: url(font/Nexa\ Regular.otf);
}
@font-face {
  font-family: 'Nexa Thin';
  src: url(font/Nexa\ Thin.otf);
}
@font-face {
  font-family: 'Nexa Bold';
  src: url(font/Nexa\ Bold.otf);
}
@font-face {
  font-family: 'Nexa Heavy';
  src: url(font/Nexa\ Heavy.otf);
}

/* HEADER ------------------------------------------------------------------- */
.navbar{
  padding: 0 40px;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Nexa Heavy';
  height: 90px;
  background: linear-gradient(to right, #9D3FB9, #9A4977);

  h2{
      font-size: 30px;
  }

}

.menu{
  text-align: right;
  padding: 20px;
  font-family: "Nexa Heavy";
}

.menu:hover{
  color: rgb(201, 201, 201);
}


.menu:hover+.dropdown-menu{
    display: flex;
    flex-direction: column;
}

.right-menu{
  display: flex;
  gap: 25px;
  margin-left: auto;
  align-items: center; 
  
  
  h2{
      font-size: 20px;
  }

  h1{
      font-family: "Nexa Heavy";
  }
}

#register-button{
  font-family: 'Nexa Heavy';
  font-size: 20px;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 20px;
  -webkit-text-fill-color: #D0537A;
  background-color: white;
}

#register-button:hover{
  background-color: rgb(201, 201, 201);
  transform: scale(1.01);

}

.dropdown-menu-list{
  display: flex;
  flex-direction: column;
  font-family: "Nexa Thin";
  padding: 0.5rem 1.5rem;
}

a{
  color: inherit;
  text-decoration-line: none;
}

.dropdown-menu-list:hover{
  background-color: #282828;

}

#bold-list{
  font-family: "Nexa Heavy";
}

.dropdown-menu{
 display: none;
  position: absolute;
  text-align: right;
  background-color: #2D2D2D;
  padding: 1rem 0;
  border-radius: 6px;
  right: 250px;
  top: 70px;
  width: 200px;
  text-decoration: none;
  color: white;
}

.dropdown-menu:hover{
  display: flex;
  flex-direction: column;
}


/* END HEADER ----------------------------------------------------------- */

/* CONTENT -------------------------------------------------------------- */

.black {
  color: black;
  font-size: 35px;
}

.white {
  color: white;
}

.nexa-regular {
  font-family: "Nexa Regular";
  font-size: 20px;
}

#aboutUsTitle {
  background-color: white;
  max-width: 40%;
  padding: 15px 40px 15px 0;
  text-align: right;
  margin-top: 5vh;
}

#aboutUsContent {
  display: flex;
  margin: 5rem 2rem 2rem 2rem;
  background-color: #191919;
  border-radius: 10px;
}

#img-cassete{
    position: absolute;
    margin: -2rem 0 0 2rem;
}

#aboutUsContent-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45%;
  padding:15vh 0 15vh 50% ;
  z-index: 1;
  text-align: justify;
}

.font38{
    font-size: 38px;
}

#journeyProgression{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: white;
    background-color: #292929;
    padding: 8rem;
    margin: 2rem;
    text-align: justify;
    border-radius: 10px;
}

#journeyProgressionTitle{
    text-align: center;
}

#teamMembersTitle{
    background-color: white;
    padding: 15px 0 15px 40px;
    width: 40%;
    margin-top: 5vh;
}

#teamMembersTitleContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}

#name{
    font-size: 25px;
}

#pictureContainer{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 8rem;
    text-align: center;
    justify-content: center;
    margin: 5rem 0;
}

/* --END CONTENT------------------------------------------- */

/* FOOTER -------------------------------------------------- */

footer{
  background-color: #191919;
  color: white;
  font-family: 'Nexa Thin';
  h1{
    font-size: 30px;
  }
}

#footer-all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#right-footer{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.right-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}