*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1F1F1F;
    font-family: "Nexa Thin";
}

@font-face {
    font-family: "Nexa Heavy";
    src: url("font/Nexa\ Heavy.otf");
}

@font-face {
    font-family: "Nexa Regular";
    src: url("font/Nexa\ Regular.otf");
}

@font-face {
    font-family: "Nexa Thin";
    src: url("font/Nexa\ Thin.otf");
}

  /* CONTENT -------------------------------------------------------------- */

.white{
    color: white;
} 

#songCollectionTitle{
    font-family: "Nexa Heavy";
    font-size: 28px;
}

#buttonPlay{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: #2B2B2B;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    width: fit-content;
    gap: 0.5rem;
    p{
        font-family: "Nexa Regular";
        align-self: center;
    }
}

#image-play{
    width: 30px;
}

.songCollection{
    display: flex;
    flex-direction: column;
    margin: 4rem 2rem;
    gap: 1rem;
}

.buttonWhite{
    padding: 0.2rem 1rem;
    background-color: white;
    width: fit-content;
    font-size: 15px;
    border-radius: 5px;
}

.heavy{
    font-family: "Nexa Heavy";
}

.black-container{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 2rem;
    border-radius: 6px;
    gap: 0.8rem;
}

.song-list{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.song{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    object-fit: cover;
    width: 200px;
    color: white;
}

.song:hover{
  transform: scale(1.01);

  .img-song-list{
    filter: brightness(70%);
  }
  
  p{
    color: rgb(204, 204, 204);
  }
}

.song-title{
    font-family: "Nexa Heavy";
    font-size:18px;
}

.song-desc{
    font-size: 15px;
}

.img-song-list{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.white-bold{
    color: white;
    font-family: "Nexa Regular";
    font-size: 28px;
}

/* --END CONTENT------------------------------------------- */
