body {
  background-color: #1f1f1f;
  font-family: 'Nexa Thin';
}

/* CONTENT -------------------------------------------------------------- */

.white {
  color: white;
}

#songCollectionTitle {
  font-family: 'Nexa Heavy';
  font-size: 30px;
}

#buttonPlay {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  background-color: #2b2b2b;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  width: fit-content;
  gap: 0.5rem;
  h3 {
    font-family: 'Nexa Regular';
    align-self: center;
  }
}

#buttonPlay:hover {
  filter: brightness(120%);
}

#image-play {
  width: 30px;
  height: 30px;
}

.songCollection {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
  gap: 1rem;
}

.buttonWhite {
  padding: 0.2rem 1rem;
  background-color: white;
  width: fit-content;
  font-size: 15px;
  border-radius: 5px;
}

.heavy {
  font-family: 'Nexa Heavy';
}

.black-container {
  display: flex;
  flex-direction: column;
  background-color: #161616;
  padding: 2rem;
  border-radius: 6px;
  gap: 0.8rem;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.song {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  object-fit: cover;
  width: 200px;
  color: white;
}

.song:hover {
  transform: scale(1.01);

  .img-song-list {
    filter: brightness(70%);
  }

  p {
    color: rgb(204, 204, 204);
  }
}

.song-title {
  font-family: 'Nexa Heavy';
  font-size: 18px;
}

.song-desc {
  font-size: 15px;
}

.img-song-list {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.white-bold {
  color: white;
  font-family: 'Nexa Regular';
  font-size: 28px;
}

#play {
  display: none;
  flex-direction: column;
  width: fit-content;
  background: linear-gradient(to right, #9b42a2, #a04977);
  border-radius: 0 20px 20px 0;
  position: sticky;
  bottom: 0;
  overflow: hidden;

}

#playbar{
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  align-items: center;
  p {
   color: white;
  }
}

.playbar-content{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
}

#audiobar{
  display: flex;
  background-color: rgb(138, 138, 138);
  width: 100%;
  height: 3px;
}

#audioPercentage{
  background-color: white;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-out;
}

#play-title {
  font-family: 'Nexa Heavy';
}

#image-mini {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.image-mini2 {
  width: 25px;
  height: 25px;
}

.image-mini:hover {
  filter: brightness(70%);
}

.image-mini3{
  width: 20px;
  height: 20px;
}

/* --END CONTENT------------------------------------------- */

@media screen and (max-width: 800px) {
  .black-container {
    justify-content: center;
    width: fit-content;
  }

  .songCollection {
    justify-content: center;
  }
}
