body {
  box-sizing: border-box;
  font-family: 'Nexa Regular';
  font-size: 14pt;
  -webkit-text-fill-color: black;
  background-image: url(assets/img/Register\ Wallpaper.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-position{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
}

#contentBox {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  gap: 20px;
  background-color: white;
  justify-content: center;
  border-radius: 7px;
  box-sizing: border-box;
}

#titleDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  #groovy {
    font-size: 25px;
    -webkit-text-fill-color: #b838a7;
  }

  h2{
    font-size: 22px;
    font-family: 'Nexa Heavy';
    -webkit-text-fill-color: #4f4f4f;
  }

}

h2, h3{
  margin: 0px;
}

#formDiv {
  display: flex;
  flex-direction: column;
  font-size: 12px;  
}

.texts {
  height: 20px;
  border: #bebebe solid 1px;
  border-radius: 5px;
}

#ageFld {
  width: 70px;
}

#buttonCont {
  display: flex;
  justify-content: center;
}

#regButton {
  width: 155px;
  height: 40px;
  font-family: 'Nexa Heavy';
  font-size: 16px;
  background-color: #b838a7;
  border-radius: 5px;
  -webkit-text-fill-color: white;
  border: 0px;
}

#forms{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formsSection {
  display: flex;
  flex-direction: column;
}

#errorMessage {
  font-size: 10pt;
  -webkit-text-fill-color: red;
}

@media screen and (max-width: 800px) {

  body{
    background: linear-gradient(to top, #481842, #C35C93);
  }

}