body {
  background-color: #1f1f1f;
  font-family: "Nexa Regular";

  h4 {
    font-size: 16px;
  }
}

/* CONTENT -------------------------------------------------------------- */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;

  h1 {
    font-size: 28px;
  }

  img {
    width: 25vh;
  }
}

.content h1,
h2,
h3,
h4,
h5 {
  color: white;
}

.top-content {
  display: flex;
  gap: 50px;
  box-sizing: border-box;
}

.unique-value-point {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  font-size: 15px;
  background-color: #191919;
  height: 50vh;
  width: 350px;

  box-sizing: border-box;

  h4 {
    text-align: center;
    font-family: "Nexa Regular";
    -webkit-text-fill-color: white;
    white-space: nowrap; /* Mencegah teks pindah baris */
  }

  img {
    margin-left: 20px;
  }

  button {
    font-family: "Nexa Heavy";
    font-size: 20px;
    height: 40px;
    width: 170px;
    border: none;
    border-radius: 5px;
    -webkit-text-fill-color: #ffffff;
    background-color: #b838a7;
  }
}

/* BEST SELLER */

.best-seller {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-family: "Nexa Heavy";
    font-size: 30px;
  }
}

.content-group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


.each-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  
  img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  h4 {
    font-size: 16px;
    font-family: "Nexa Regular";
    word-wrap: break-word;
  }
  
  h5 {
    font-size: 14px;
    font-family: "Nexa Thin";
    -webkit-text-fill-color: #c4c4c4;
  } 
}

/* RECOMMENDATION */
.content-group-recommendation {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.content-group-recommendation::-webkit-scrollbar {
  display: none;
}

.recommendation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  background-color: #191919;
  height: auto;
  padding: 50px 50px;

  h1 {
    font-family: "Nexa Heavy";
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 5vh;
  }
}

.slider-recommendation {
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;

  .button-slider {
    width: 40px;
    height: 40px;
  }

  .button-slider:hover {
    transform: scale(1.07);
  }

}

.bottom-content {
  padding: 40px 40px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 30px;

  box-sizing: border-box;
}

#content-group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* ANIMATION */

.each-content:hover {
  transform: scale(1.01);

  img {
    filter: brightness(70%);
  }

  p {
    color: rgb(204, 204, 204);
  }
}


#play {
  display: none;
  flex-direction: column;
  width: fit-content;
  background: linear-gradient(to right, #9b42a2, #a04977);
  border-radius: 0 20px 20px 0;
  position: sticky;
  bottom: 0;
  overflow: hidden;
}

#playbar {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  align-items: center;
  p {
    color: white;
  }
}

.playbar-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
}

#audiobar {
  display: flex;
  background-color: rgb(138, 138, 138);
  width: 100%;
  height: 3px;
}

#audioPercentage {
  background-color: white;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-out;
}

#play-title {
  font-family: 'Nexa Heavy';
}

#image-mini {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.image-mini2 {
  width: 25px;
  height: 25px;
}

.image-mini:hover {
  filter: brightness(70%);
}

.image-mini3 {
  width: 20px;
  height: 20px;
}

/* --END CONTENT------------------------------------------- */

@media screen and (max-width: 800px) {
  .top-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
  }
  
  .recommendation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: #191919;
    height: auto;
    padding: 50px 50px;
    
    h1 {
      font-family: "Nexa Heavy";
      font-size: 30px;
      box-sizing: border-box;
      margin-left: 5vh;
    }
  }
  
  .unique-value-point {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    font-size: 4rem;
    background-color: #191919;
    height: 50vh;
    width: auto;
    
    box-sizing: border-box;
    
    h4 {
      font-size: clamp(0.5rem, 5vw, 1rem);
      text-align: center;
      font-family: "Nexa Thin";
      -webkit-text-fill-color: white;
      text-wrap: wrap;
    }
    
    img{
      width: clamp(0.5rem, 6rem, 6rem);
      margin-left: 2rem;
    }
    
    button {
      font-family: "Nexa Heavy";
      font-size: 20px;
      height: 40px;
      width: 170px;
      border: none;
      border-radius: 5px;
      -webkit-text-fill-color: #ffffff;
      background-color: #b838a7;
    }
  }
  
  .recommendation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: #191919;
    height: auto;
    padding: 50px 50px;
    
    min-width: 300px;
    
    h1 {
      box-sizing: border-box;
      word-break: break-word; /* biar kalau terlalu panjang bisa pecah */
    }
  }
}


@media screen and (max-width: 500px) {
  
  .content{
    padding: 1rem;
  }

  .recommendation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: #191919;
    height: auto;
    padding: 1rem;
    
    min-width: 300px;

    h1 {
      font-size: 1rem;
    }
  }

}